[db]
user = postgres
password =
database =
host =
port = 5432
tprefix = bscience_

[api.dev]
key =
schema =
host =
port =
path =

[api.prod]
key =
schema =
host =
port =
path =

[oauth.github]
client =
secret =
callback = /auth/github
scope[] = user

[oauth.linkedin]
client =
secret =
callback = /auth/linkedin
scope[] = r_emailaddress
scope[] = r_liteprofile

[oauth.orcid]
client =
secret =
callback = /auth/orcid

[oauth.mpds]
authorize_url =
access_token_url =
user_profile_url =
client =
secret =
callback = /auth/mpds

[oauth.dummy]
authorize_url =
access_token_url =
client =
secret =
callback = /auth/dummy

[webhooks]
calc_update = /v0/webhooks/calc_update
calc_create = /v0/webhooks/calc_create

[mail]
host =
port =
user =
pass =
from =
