[db]
user = postgres
password =
database = aiidadb
host = localhost
port = 5432

[api]
key = a-very-very-very-long-and-very-very-very-secret-string

[oauth.github]
client =
secret =
callback = /auth/github
scope[] = user

[oauth.linkedin]
client =
secret =
callback = /auth/linkedin
scope[] = r_emailaddress
scope[] = r_liteprofile

[oauth.orcid]
client =
secret =
callback = /auth/orcid

[oauth.basf]
client =
secret =
callback = /auth/basf
