[http]
trust_proxy =
force_https =

[db]
user = postgres
password =
database =
host =
port = 5432
tprefix = bff_

[api.dev]
key = a-very-very-very-long-and-very-very-very-secret-string
schema = http
host = localhost
port = 7050
path =

[api.prod]
key =
schema =
host =
port =
path =

[oauth.github]
client =
secret =
callback =
scope[] = user

[oauth.linkedin]
client =
secret =
callback =
scope[] = r_emailaddress
scope[] = r_liteprofile

[oauth.orcid]
client =
secret =
callback =

[oauth.mpds]
authorize_url =
access_token_url =
user_profile_url =
client =
secret =
callback =

[oauth.basf]
authorize_url =
access_token_url =
user_profile_url =
client =
secret =
callback =

[oauth.dummy]
authorize_url =
access_token_url =
client =
secret =
callback =

[webhooks]
calc_update = /v0/webhooks/calc_update
calc_create = /v0/webhooks/calc_create

[mail]
host =
port =
user =
pass =
from =

